body{
    background-image: url("https://wallpaperaccess.com/full/6372103.jpg");
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.heading{
    color: whitesmoke;
}

.lable{
    color: whitesmoke;
}

.button{
    margin-top: 20px !important;
    height: 30px !important;
    width: 300px !important;
    padding: 10px;
}